<div class="row">
  <form class="col s12" [formGroup]="roomForm">
    <div class="row">
      <div class="input-field col s12">
        <textarea id="prompt" class="materialize-textarea" formControlName="prompt"></textarea>
        <label for="prompt">Prompt</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="img" type="text" class="validate" formControlName="img">
        <label for="img">Image URL</label>
      </div>
      <div class="input-field col s6">
        <input id="sequence" type="number" class="validate" formControlName="sequence">
        <label for="sequence">Sequence #</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="goodChoice" type="text" class="validate" formControlName="goodChoice">
        <label for="goodChoice">Good Choice</label>
      </div>
      <div class="input-field col s6">
        <input id="goodResult" type="text" class="validate" formControlName="goodResult">
        <label for="goodResult">Good Result</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="badChoice" type="text" class="validate" formControlName="badChoice">
        <label for="badChoice">Bad Choice</label>
      </div>
      <div class="input-field col s6">
        <input id="badResult" type="text" class="validate" formControlName="badResult">
        <label for="badResult">Bad Result</label>
      </div>
    </div>
    <div class="row">
      <button class="btn waves-effect waves-light" (click)="addRoom()">Add Room</button>
    </div>
  </form>
</div>
